go 1.18

use (
	./behavioural/chain-of-responsibility
	./behavioural/command
	./behavioural/iterator
	./behavioural/mediator
	./creational/abstract-factory
	./creational/builder
	./creational/factory
	./creational/object-pool
	./creational/prototype
	./creational/singleton
)
